body {
    background-color: blueviolet;
   /* background-image: url("images/2.jpg");*/
}

h1 {
    color: bisque;
}

h2 {
    color: yellow;
    font-size: 50pt;
}
p{
    border: 10px solid red;
    color: rgb(148, 237, 6);
    font-size: 24pt;
    background-color: black;
    padding: 20px;
    margin: 10px;
    /*comment*/
}
h3{
    font-size: xx-large;
    border-top:5px solid red ;
    border: bottom 5px solid rgb(52, 52, 206);
    border: left 5px solid greenyellow;
    border:right 5px solid rgb(212, 220, 198)  ;
}
table,th,td{
    border: solid;
    font-size: 25pt;
}
table{
    border-color:blue ;
}
td{
    padding: 0px 10px;
    color: rgb(211, 128, 128);
    border-color:rgb(163, 186, 186) ;
}
th{
    background-color: black;
    color: orange;
}
ul{
    background-color: black;
    color: white;
}
ol{
    font-size: 20px;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-display: ;
}
a{
    color: orangered;
}

